# Add Exp.ipynb to ignore list
Exp.ipynb

# Add Logi.ipynb to ignore list
Logi.ipynb

# Add Practice_VivaQuestions.md to ignore list
Practice_VivaQuestions.md

# Add .gz files to ignore list
*.gz